.carouselContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carouselWrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carouselContentWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carouselContent {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carouselContent::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carouselContent > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

/* ... */
.carouselContent.show-2 > * {
    width: 50%;
}

.carouselContent.show-3 > * {
    width: calc(100% / 3);
}

.carouselContent.show-4 > * {
    width: calc(100% / 4);
}

.carouselContent.show-5 > * {
    width: calc(100% / 5);
}
/* ... */

/* ... */
.leftArrow, .rightArrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    border: 1px solid #ddd;
}

.leftArrow {
    left: 24px;
}

.rightArrow {
    right: 24px;
}
/* ... */