
/* pc mode */
@media only screen and (min-width: 1080px) {
    .mainContent {
        margin: 0% 5% 5% 15%;
        padding: 2%;
        width: 700px;
    }
}

/* small-3 and phone mode */
@media only screen and (max-width: 1080px) {
    .mainContent {
        margin: 5% 15%;
        padding: 2%;
    }
}
