.tapPanel {
    border: 1px solid #ebedf0;
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lgWhiteBlackButton {
    border: 1px solid black;
    background-color: white;
    height: 40px;
    width: 150px;
    font-weight: 800;
}

.coursesGrid {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

  