/* pc view */
@media only screen and (min-width: 780px) {
    .homePageBanner {
        z-index: -2;
    }
    .contentBoxBanner {
        background-color: white;
        width: 440px;
        height: 250px;
        margin: .8% 0% 0% .8%;
        padding-left: 24px;
        position: absolute;
    }
    .contentBoxBanner::before {
        content: "";
        background: linear-gradient(0deg, #dedede, #dedede, #dedede);
        position: absolute;
        width: 450px;
        height: 260px;
        z-index: -1;
        filter: blur(10px);
    }
    .banner {
        margin: auto;
        will-change: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }
}

/* phone view */
@media only screen and (max-width: 780px) {
    .homePageBannerImage {
        width: 100%;
        height: 100%;
    }
    .contentBoxBanner {
        padding-left: 24px;
        box-shadow: 1px 1px rgb(202, 199, 199);
    }
    .banner {
        display: flex;
        flex-direction: column-reverse;
    }
}